# Default values for near-node.
nameOverride: null
fullnameOverride: near-testnet
namespaceOverride: near
replicas: 1 # Multiple replicas not supported, create new instances of the chart

# Blockchain specific configuration
chain:
  kind: "rpc" # "rpc" or "archive"
  network: "testnet" # "mainnet" or "testnet"
  binary: "neard"
  homeDir: "/data/.near"
  genesisURL: ""
  syncFromSnapshot:
    enabled: true
    force: false

  # Node configuration overrides
  configOverrides:
    rpc:
      addr: "0.0.0.0:3030"
      prometheus_addr: "0.0.0.0:9090"
    network:
      addr: "0.0.0.0:24567"

# Pod configuration
podTemplate:
  image: "nearprotocol/nearcore:1.39.1"
  imagePullPolicy: "Always"
  resources:
    requests:
      cpu: "2"
      memory: "16Gi"
    limits:
      cpu: "4"
      memory: "32Gi"

# Service configuration
service:
  p2pTemplate:
    enabled: true
    type: NodePort
    port: 24567
    nodePort: null
  rpcTemplate:
    enabled: true
    type: ClusterIP
    port: 3030
    nodePort: null
  metrics:
    enabled: true
    type: ClusterIP
    port: 9090
    nodePort: null

serviceMonitor:
  enabled: true
  interval: 30s
  path: null

# Persistent volume claim configuration
volumeClaimTemplate:
  enabled: true
  storageClassName: "standard"
  storageSize: "2000Gi" # Resizing existing PVCs is not supported and will require manual intervention
