{{- $image := required ".Values.podTemplate.image is required." .Values.podTemplate.image -}}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "near-node.fullname" . }}
  namespace: {{ include "near-node.namespace" . }}
  labels:
    {{- include "near-node.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "near-node.fullname" . }}
  replicas: {{ .Values.replicas }}
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  updateStrategy:
    type: {{ .Values.updateStrategy.type }}
    {{- if eq "RollingUpdate" .Values.updateStrategy.type }}
    rollingUpdate:
      partition: {{ .Values.updateStrategy.rollingUpdate.partition }}
    {{- end }}
  selector:
    matchLabels:
      {{- include "near-node.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "near-node.selectorLabels" . | nindent 8 }}
    spec:
      initContainers:
        - name: chain-init
          image: {{ $image }}
          imagePullPolicy: {{ .Values.podTemplate.imagePullPolicy }}
          command:
            - "sh"
            - "-c"
          args:
            - |
              set -e # Exit immediately if a command exits with a non-zero status
              if [ -f "{{ .Values.chain.homeDir }}/genesis.json" ]; then
                echo "Genesis file already present, skipping init."
              else
                {{ .Values.chain.binary }} --home {{ .Values.chain.homeDir }} init --chain-id {{ .Values.chain.network }} --download-genesis
              fi
          volumeMounts:
            - name: pvc
              mountPath: {{ .Values.chain.homeDir }}
          {{- if .Values.podTemplate.resources }}
          resources:
            {{- .Values.podTemplate.resources | toYaml | nindent 10 }}
          {{- end }}
        - name: download-snapshot
          image: ubuntu:24.04
          imagePullPolicy: Always
          command:
            - "/bin/bash"
            - "-c"
          args:
            - |
              set -e # Exit immediately if a command exits with a non-zero status

              apt update && apt install -y rclone curl

              if [ "$(ls -A {{ .Values.chain.homeDir }}/data/*.sst 2>/dev/null)" ]; then
                echo "Databases in {{ .Values.chain.homeDir }}/data already exists"
              else
                echo "No snapshot files found, starting download..."
                {{ include "near-node.snapshotScript" . | nindent 16 }}
              fi
          volumeMounts:
            - name: pvc
              mountPath: {{ .Values.chain.homeDir }}
            {{- if .Values.volumeClaimTemplates.cold.storageClassName }}
            - name: pvc-cold
              mountPath: {{ .Values.chain.homeDir }}/data/cold-data
            {{- end }}
          {{- if .Values.podTemplate.resources }}
          resources:
            {{- .Values.podTemplate.resources | toYaml | nindent 10 }}
          {{- end }}
      containers:
        - name: near-node
          image: {{ $image }}
          imagePullPolicy: {{ .Values.podTemplate.imagePullPolicy }}
          command:
            - {{ .Values.chain.binary }}
          args:
            - --home
            - {{ .Values.chain.homeDir }}
            - run
          {{- if .Values.logLevel }}
          env:
            - name: RUST_LOG
              value: "{{ .Values.logLevel }}"
          {{- end }}
          ports:
            - containerPort: {{ .Values.service.rpcTemplate.port }}
            - containerPort: {{ .Values.service.p2pTemplate.port }}
          volumeMounts:
            - name: pvc
              mountPath: {{ .Values.chain.homeDir }}
            {{- if .Values.volumeClaimTemplates.cold.storageClassName }}
            - name: pvc-cold
              mountPath: {{ .Values.chain.homeDir }}/data/cold-data
            {{- end }}
            - name: config-volume
              mountPath: {{ .Values.chain.homeDir }}/config.json
              subPath: config.json
          {{- if .Values.podTemplate.resources }}
          resources:
            {{- .Values.podTemplate.resources | toYaml | nindent 10 }}
          {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "near-node.fullname" . }}-config
            items:
              - key: config.json
                path: config.json
        {{- if not .Values.volumeClaimTemplates.enabled }}
        - name: data
          emptyDir: {}
        {{- end }}
  {{- if .Values.volumeClaimTemplates.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: pvc
        namespace: {{ include "near-node.namespace" . }}
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .Values.volumeClaimTemplates.hot.storageSize }}
        storageClassName: {{ .Values.volumeClaimTemplates.hot.storageClassName }}
    {{- if .Values.volumeClaimTemplates.cold.storageClassName }}
    - metadata:
        name: pvc-cold
        namespace: {{ include "near-node.namespace" . }}
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .Values.volumeClaimTemplates.cold.storageSize }}
        storageClassName: {{ .Values.volumeClaimTemplates.cold.storageClassName }}
    {{- end }}
  {{- end }}
